@import url("style.css");

body {
  text-align: center;
}

h1, h2, p {
  margin: 20px 0;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

td.libre {
  background-color: #b3ffb3;
}

td.occupee {
  background-color: #ff9999;
}

body {
  text-align: center;
}

h1, h2, p {
  margin: 20px 0;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
  }
